.footerLogo {
    width: 30px;
    justify-self: center;
}
.footerContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer {
    justify-items: center;
}
.logos {
    display: flex;
    justify-content: center;
}
